@page "/"

<PageTitle>テキスト編集ツール</PageTitle>

<h4>概要</h4>
<p>
    <div>CSV・TSVファイルを編集するツールです。</div>
    <div>Linuxの<code>sort</code>や<code>join</code>等のコマンドと似たようなことをGUI上で実行可能です。</div>
    <div>雑にファイルをフィルタリングしたりソートして閲覧する目的にも役立つと思います。</div>
</p>

<h4>免責事項</h4>
<p>
    <div>当ツールの利用は利用者の自己責任の下で行われ，これによって生じた如何なる損害についても製作者は責任を負いません。</div>
</p>

<h4>使い方</h4>
<ol>
    <li>「ファイル読み込み」にて行区切り文字と先頭行をヘッダーとして扱うか否かを選択し，ファイルを読み込みます</li>
    <li>「ファイル内容閲覧」にて編集前のファイルを表示できます</li>
    <li>
        <div>「編集」にてファイルの編集が可能です</div>
        <img src="images/edit.png" width="960" />
        <ul>
            <li>中央の列に編集結果が表示されます</li>
            <li>
                一番左のグレーの列に処理を記述します
                <ul>
                    <li>「追加」ボタンで処理を追加できます</li>
                    <li>「処理実行」ボタンで上から順に処理を実行し，中央のプレビューに反映します</li>
                    <li>「処理スキップ」ボタンでは，中央のプレビューに処理を行う前のファイルを反映します</li>
                    <li>ダウンロードアイコンをクリックすると処理後のファイルをダウンロードできます</li>
                    <li>ゴミ箱アイコンをクリックすると対応した処理を削除できます</li>
                </ul>
            </li>
            <li>
                一番右の列にはログが表示されます
                <ul>
                    <li>処理の入力内容が不正な場合はエラーが表示されます</li>
                    <li>その他処理中のエラーや警告，処理が成功した旨も表示されます</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        「ファイル管理」にて登録したファイルの管理ができます
        <ul>
            <li>「ヘッダー」列のチェックボックスにて，先頭行をヘッダーとして扱うか否かを変更できます</li>
            <li>「表示」ボタンを押すと表示画面に遷移します</li>
            <li>「編集」ボタンを押すと編集画面に遷移します</li>
            <li>ゴミ箱アイコンをクリックすると登録したファイルを削除できます</li>
        </ul>
    </li>
</ol>

<h4>コンタクト</h4>
<p>
    <div>バグ報告や要望等は以下連絡先へ</div>
    <ul>
        <li>Twitter: <a href="https://twitter.com/Funny_Silkie">@@Funny_Silkie</a></li>
        <li>GitHub: <a href="https://github.com/Funny-Silkie/">Funny-Silkie</a></li>
        <li>Discord: funny_silkie</li>
    </ul>
</p>

<h4>バージョン情報</h4>
<p>
    <div>Ver. 1.1.0</div>
    <div>Publish: 2023/08/23 JST</div>
</p>

<h4>リリースログ</h4>
<ul>
    <li>
        Ver. 1.1.0（2023/08/23）
        <ul>
            <li>処理に「他データと完全外部結合」を追加</li>
            <li>ファイル内容表示時のレイアウト微変更</li>
            <li>
                「ファイル管理」画面を実装
                <ul>
                    <li>ゴミ箱アイコンクリックで登録済みのファイルの削除が可能に</li>
                    <li>先頭行をヘッダーとして扱うかどうかを修正が可能に</li>
                </ul>
            </li>
            <li>アイコンの設定</li>
        </ul>
    </li>
    <li>
        Ver. 1.0.1（2023/08/21）
        <ul>
            <li>入力値エラーの際の発生箇所を詳細に</li>
            <li>「重複を削除」処理時に範囲外の列番号を指定すると落ちるエラーを修正</li>
        </ul>
    </li>
    <li>
        Ver. 1.0.0（2023/08/20）
        <ul>

            <li>最初のリリース</li>
        </ul>
    </li>
</ul>
