@page "/raw"
@page "/raw/{index}"
@inject RawViewModel ViewModel

<div>
    <RadzenLabel Component="DropDown_FileName" Text="表示するファイル名" />
    <RadzenDropDown TValue="TableFileInfo" Name="DropDown_FileName" Data="ViewModel.Files" Change="OnSelectionChanged" @bind-Value="ViewModel.SelectedData.Value" TextProperty="Name" />
</div>

@if (ViewModel.SelectedData.Value is not null)
{
    <div>
        <DsvView @ref="dsvView" Data="ViewModel.SelectedData.Value.Data" />
    </div>
}

@code {
    private DsvView dsvView = default!;

    [Parameter]
    public string? Index { get; set; }

    /// <inheritdoc/>
    protected async override Task OnInitializedAsync()
    {
        await ViewModel.InitializeAsync();

        if (int.TryParse(Index, out int index) && index >= 0 && index < ViewModel.Files.Count)
        {
            ViewModel.SelectedData.Value = ViewModel.Files[index];
        }
    }

    private async Task OnSelectionChanged()
    {
        await InvokeAsync(dsvView.RequestRender);
    }
}
